[run]
omit =
    examples*
    *compat.py

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if _t.TYPE_CHECKING:
    raise NotImplementedError
    except ImportError:
    ^\s*\.\.\.(\s*#.*)?$
    ^\s*main\(\)$
    \.parse_and_run\(
