[flake8]
ignore =
    # module level import not at top of file
    E402,
    # <module> imported but unused
    F401,
    # invalid escape sequence <seq>
    W605,
    # local variable <var> is assigned to but never used
    F841,
    # line break before binary operator (conflicts with Black)
    W503,
max-line-length = 9000
exclude = .git,__pycache__,*.yaml,*.yml,Makefile,.flake8,*.toml,*.md,*.rst,*.sh,venv*,temp
max-complexity = 100
