[tool.blue]
line-length = 120
include = '\.pyi?$'
target-version = ['py37', 'py38', 'py39', 'py310']
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | __pycache__
  | .*\.ya?ml$
  | .*\.toml$
)/
'''
force-exclude = '''.*?(?:\.ya?ml|Makefile|\.toml)$'''
