name: Documentation
permissions: read-all  # Declare default permissions as read only.
on:
  push:
    branches: ["main"]
    paths: ["lib/**", "docs/**", "examples/**"]
  workflow_dispatch: {}
jobs:
  build:
    runs-on: ["ubuntu-latest"]
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.14"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -e . -r docs/requirements.txt
      - name: Generate docs
        run: python bin/build_docs.py -cu
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/
